version: '3.3'
services:
  app:
    build: ./app
    ports:
      - "80:8000"
    depends_on:
      - postgres
      - elasticsearch
    volumes:
      - ./app/:/app/
    command: bash -c "sleep 10
      && python ./manage.py migrate
      && python ./manage.py update_index
      && python ./manage.py runserver 0.0.0.0:8000"

  postgres:
    image: postgres:latest
    volumes:
      - pgdata:/var/lib/postgresql/data

  elasticsearch:
    image: launcher.gcr.io/google/elasticsearch2
    #environment:
    #  - discovery.type=single-node
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
          - esdata:/usr/share/elasticsearch/data

volumes:
  esdata:
    driver: local
  pgdata:
