{% extends 'base.html' %}

{% load static %}

{% block body %}
  <form action="{% url 'haystack_search' %}" class="autocomplete">
    <label for="q">Search</label>
    <input id="q" name="q" type="text" autocomplete="off">
    <input type="submit" value="Search!">
  </form>

  {% if latest_question_list %}
    <ul>
      {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No polls are available.</p>
  {% endif %}

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="{% static 'polls/js/autocomplete.js' %}"></script>

  <script type="text/javascript">
    $(function () {
      window.autocomplete = new Autocomplete({
        form_selector: '.autocomplete',
        url: '{% url 'polls:autocomplete' %}'
      });
      window.autocomplete.setup()
    });
  </script>
{% endblock body %}
